/* head style */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

/* end head style */

/* footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
/* end of the footer */

/* start for the body */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

form {
	display: flex;
	align-items: center;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(14, 13, 13, 0.5);
}

button[type="submit"] {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	box-shadow: 0 5px 10px rgba(1, 0, 0, 0.5);
	cursor: pointer;
}



/* end of the body */